:root {
	--base-color: #F8EBDF;
	--highlight-color: #B06D5E;
}

/* 접근성 숨김 처리 */
.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

/* Reset */
body, main, h1, h2, h3, p, ul, li, div {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

button {
	all: unset;
}

/* Layout */
.wrap {
	width: 748px;
	margin: auto;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

main {
	display: grid;
	gap: 20px 28px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px auto;
}

.section1 {
	grid-row: 1 / span 2;
}

.item-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	justify-items: center;
	text-align: center;
	margin: 31px 27px;
}

.container {
	margin: 31px 27px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.line {
	grid-column: 1 / span 2;
}

/* style */
body {
	background-color: var(--base-color);
	font-family: 'Pretendard-Regular';
}

button {
	font-family: 'Pretendard-Regular';
}

h1>img {
	width: 380px;
}

section {
	background-color: #fff;
}

/* section1 */
.item {
	width: 94px;
	height: 130px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.item button {
	padding: 13px 11px;
	box-sizing: border-box;
}

.item img {
	width: 100%;
}

.item p {
	font-size: 10px;
	margin: 5px 0;
}

.item strong {
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	background-color: var(--highlight-color);
	padding: 4px 10px;
	border-radius: 30px;
}

.container * {
	box-shadow: inset 0 0 2px black;
	min-height: 32px;
	border-radius: 5px;
}

/* section2 */
.bg-box {
	display: flex;
	background-color: var(--base-color);
	border-radius: 5px;
}

.section2 .bg-box {
	min-height: 32px;
	margin: 9px 27px;
}

/* section3 */
.section3 {
	display: flex;
	flex-direction: column;
	gap: 13px 9px;
	padding: 25px 27px;
}

.section3 h2 {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.section3 .get-list {
	flex-grow: 1;
}

.section3 p {
	font-size: 13px;
	text-align: right;
}
